:root {
    --primary-color: #1e75d8;
    --bg-color: #030303;
    --text-color: #ffffff;
    --text2-color: #9fc9e2;
    --card-bg: #1a1a1a;
    --social-color: #00b7ff;
    --social-hover: #b2f8e3;  

    --scrollbar-color:#1e75d8;
    --scrollbar-hover:#7ad0eb;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url('assets/bg/back.png');
    background-size: cover;
    color: var(--text-color);
    line-height: 1.8;
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
}

/*#region Загрузка */
#page-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-image: url('assets/bg/back.png');
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9997;
    transition: opacity 0.3s ease;
}

.loading-avatar{
    z-index: 9999;
    width: 20%;
    animation: loadhead 3s linear infinite;
}

.spinner {
    z-index: 9998;
    position: fixed;
    width: 15vw;
    height: 15vw;
    border: 7px solid rgb(108, 115, 216);
    border-top: 7px solid rgb(40, 46, 126);
    
    box-shadow: 0 8px 50px rgba(110, 152, 177, 0.8);

    border-radius: 50%;
    animation: spin 1s linear infinite;
}
/* #endregion */

/* #region Анимация */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes loadhead {
    0% { transform: translateY(0px);; }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}
@keyframes head {
    0% { transform: translateY(0px);; }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0px); }
}
/* #endregion */

/* #region Параллакс */
.stars-far {
    position: fixed;
    top: -100rem;
    left: 0;
    width: 100%;
    height: 300%;
    background-image: url('assets/bg/mid.png');
    background-size: cover;
    background-position: center;
    z-index: -2;
    opacity: 0.6;
    background-attachment: scroll;
}

.stars-near {
    position: fixed;
    top: -100rem;
    left: 0;
    width: 100%;
    height: 250%;
    background-image: url('assets/bg/top.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.8;
    background-attachment: scroll;
}
/* #endregion */

/*#region Кастомный скроллбар */
::-webkit-scrollbar {
    width: 5px;
    background: transparent;
    transition: all 0.3s ease;
    
}
::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    transition: all 0.3s ease;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover);
}
/*#endregion */

/*#region Смена языка */
.language-switcher {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.language-switcher button {
    background: none;
    color: var(--text-color);
    border: none;
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.2s;
}

.language-switcher .active {
    background: none;
    color: var(--primary-color);
    font-weight: 700;
    border: none;
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.2s;
}

.language-switcher button:hover {
    transform: translateY(2px);
    background: rgba(48, 159, 233, 0.2);
}
/*#endregion */

.footer{
    text-align: center;
    padding-bottom: 50px;
}
/*#region Профиль */
.profile {
    text-align: center;
    animation: head 4s ease-in-out infinite;
    animation-delay: 0.2s;
}

.avatar {
    width: 170px;
    padding-top: 15px;
    animation: head 4s ease-in-out infinite;
}

.text2{
    color: var(--text2-color);
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 25px 0;
    margin-bottom: 0px;
}

.social-link {
    justify-content: center;
    text-decoration: none;
    color: var(--social-color);
    transition: all 0.3s ease;
}

.tip {
    font-size: large;
    justify-content: center;
    text-decoration: none;
    color: var(--social-color);
    border: solid var(--social-color) 0.5px;
    padding: 5px 25px;
    border-radius: 30px;
    transition: all 0.3s ease;
    position: relative;
    top:-10px;
}


.social-icon {
    color: var(--social-color);     /* Используем переменную */
    width: auto;
    height: 45px;
    transition: all 0.3s ease;
}

.social-link:hover, .social-link:hover .social-icon, .tip:hover {
    transform: translateY(-2px);
    color: var(--social-hover);
}
.social-link:hover .button{
    transform: translateY(-2px);
}

.social-link img {
    width: 20px;
    height: 20px;
}
/*#endregion */

/* #region Услуги */
.services-grid {
    display: flex;
    gap: 30px;
    margin-top: 40px;
    text-align: center;
    min-width: 50%;
    flex-direction: column;
}

.service-card {

    background: rgba(0, 0, 0, 0.521);
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #333;
    margin-bottom: 30px;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
}

.service-card h2 {
    color: var(--primary-color);
    margin-bottom: 5px;
}

.price {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0;
}


.examples {
    display: flex;
    gap: 10px;
    margin: 20px 0;
    justify-content: center;
    flex-wrap: wrap;
}

.example-image {
    border-radius: 20px;
    height: 300px; /* Фиксированная высота */
    max-width: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 0;
}

.example-image:hover {
    object-fit: contain;
    transform: translateY(-70px) scale(1.7);
    z-index: 10;
    border: var(--text2-color) solid 1px;
    box-shadow: 0 8px 50px rgba(110, 152, 177, 0.5);
    width: auto; /* Ширина под пропорции */
    max-width: none; /* Снимаем ограничение */
}

.examples:has(.example-image:hover) .example-image:not(:hover) {
    filter: brightness(40%);
}
/* #endregion */

/* #region Info */
.info-grid {
    display: flex;
    gap: 30px;
    margin: 40px 0px;
    text-align: center;
    flex-wrap: wrap;
}

.info-card {
    
    background: rgba(0, 0, 0, 0.7);
    line-height: 2;
    min-width: 300px;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #333;
    flex: 1; /* Равная ширина и высота */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.info-card h2 {
    color: var(--primary-color);
    margin-bottom: 5px;
}

.info-text {
    margin: 10px 0;
    font-weight: 500;
}

.info-text2{
    color:var(--text2-color);
    font-weight: 700;
}
/*#endregion */


/* Мобилки */
@media (max-width: 600px) {
    .language-switcher {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 20px;
        gap: 10px;
        right: 10px;
        z-index: 1000;
    }
    .language-switcher button:hover {
        transform: none !important;
        background: none !important;
    }

    .examples {
        gap: 10px;
    }
    .example-image {
        height: 100%;
        width: 100%;
        object-fit: contein;
    }


    .services-grid {
        grid-template-columns: 1fr;
    }

    .social-link:hover, .social-link:hover .social-icon, .tip:hover {
        transform: none !important;
        color: var(--social-color);
    }

    .social-link:hover .button{
        transform: none !important;
        background: none !important;
    }

    .example-image:hover {
        max-width: 100% !important;
        transform: none !important;
        box-shadow: none !important;
        object-fit: cover !important;
        border: none !important;
    }

    .examples:has(.example-image:hover) .example-image:not(:hover) {
        filter: none !important;
    }
    

    .info-grid {
        flex-direction: column;
        margin-bottom: 25px;
    }

    .info-card {
        padding-bottom: 50px;
    }

    #contacts {
        font-size: large;
    }

    
    .social-links {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
    }

    .social-icon {
        height: 30px;
    }


    .loading-avatar{
        width: 50%;
        animation: loadhead 3s linear infinite;
    }
    .spinner {
        width: 20vh;
        height: 20vh;  
    }
}
